@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.custom-img {
  background-image: url('../assets/background.jpg');
}
form > div {
  @apply flex flex-col gap-2;
}

input,
textarea {
  @apply shadow-md px-6 py-2 border border-slate-300;
}

html {
  scroll-behavior: smooth;

}

.theme{
  transition: 1s all ease;
}

.light {
  background-color: white;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}
.theme.light .theme-text {
  color: black; /* Color for light mode */
}

.theme.dark .theme-text {
  color: white; /* Color for dark mode */
}